{% extends 'base.html' %}

{% block title%}
Оружиe
{% endblock %}

{% block body%}
<div class="container col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">Оружие обычного типа</strong>
    <h3 class="mb-0"></h3>
    <div class="mb-1 text-body-secondary"></div>
    <p class="card-text mb-auto"></p>
    <a href="/weapon/c" class="icon-link gap-1 icon-link-hover stretched-link">
      Смотреть ->
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block" style="background-color: #ccc; width: 100%; height: 225px;"></div>
</div>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">Оружие необычного типа</strong>
    <h3 class="mb-0"></h3>
    <div class="mb-1 text-body-secondary"></div>
    <p class="card-text mb-auto"></p>
    <a href="/weapon/u" class="icon-link gap-1 icon-link-hover stretched-link">
      Смотреть ->
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block" style="background-color: #17bf57; width: 100%; height: 225px;"></div>
</div>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">Оружие редкого типа</strong>
    <h3 class="mb-0"></h3>
    <div class="mb-1 text-body-secondary"></div>
    <p class="card-text mb-auto"></p>
    <a href="/weapon/r" class="icon-link gap-1 icon-link-hover stretched-link">
      Смотреть ->
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block" style="background-color: #1a91db; width: 100%; height: 225px;"></div>
</div>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">Оружие эпического типа</strong>
    <h3 class="mb-0"></h3>
    <div class="mb-1 text-body-secondary"></div>
    <p class="card-text mb-auto"></p>
    <a href="/weapon/e" class="icon-link gap-1 icon-link-hover stretched-link">
      Смотреть ->
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block" style="background-color: #9513bd; width: 100%; height: 225px;"></div>
</div>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">Оружие легендарного типа</strong>
    <h3 class="mb-0"></h3>
    <div class="mb-1 text-body-secondary"></div>
    <p class="card-text mb-auto"></p>
    <a href="/weapon/l" class="icon-link gap-1 icon-link-hover stretched-link">
      Смотреть ->
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block" style="background-color: #c47c10; width: 100%; height: 225px;"></div>
  </div>
</div>
{% endblock %}